<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>削除</title>
<link rel="stylesheet" type="text/css"
	href="/css/eventDetailsDelete.css">
</head>
<body>
	<div class="global">
		<header></header>

		<div class="sideMenu">
			<ul>
				<li><a href="/">Index</a></li>
				<li><a href="/calendar/event">カレンダー</a></li>
			</ul>
		</div>

		<div class="mainArea"></div>
		<div class="mainContents">
			<form class="details" action="/calendar/eventDetailsDelete"
				method="post" th:object="${eventDetails}">

				<h1>日付</h1>
				<p th:text="*{eventDay}" />

				<h1>開始時間</h1>
				<p th:text="*{startTime}" />

				<h1>終了時間</h1>
				<p th:text="*{EndTime}" />

				<h1>タイトル</h1>
				<p th:text="*{title}" />

				<h1>内容</h1>
				<p th:text="*{content}" />

				<h1>場所</h1>
				<p th:text="*{place}" />

				<input type="hidden" name="name" th:field="*{name}"> <input
					type="hidden" name="id" th:field="*{id}"> <input
					type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /> <input class="button" type="submit"
					value="削除">
			</form>
		</div>
		<footer>
			<p>&copy; Tokuyama 2019</p>
		</footer>
	</div>
</body>
</html>
